<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

<script src="../static/gets.js"></script>

<title>papa.io</title>
<logo>papa.io</logo>
<slogan>First news paper based on blockchain technology.</slogan>
<menu></menu>

  <div class="rules">
    <div class="nes-container is-dark with-title">
        <p class="title">Creator Rules</p>
        <rules_data></rules_data>
    </div>
  </div>

  <div class="new_news_title">
  <label for="textarea_field">News Title</label>
  <textarea id="textarea_field_news_title" class="nes-textarea"></textarea>
  </div>

  <div class="new_news_area">
  <label for="textarea_field">News Content</label>
  <textarea id="textarea_field_news_content" class="nes-textarea" style="height:40%;"></textarea>
  </div>

  <div class="new_news_gaz">
  <label for="textarea_field">gaz</label>
  <textarea id="textarea_field_gas" class="nes-textarea"></textarea>
  </div>

  <div class="push_on_a_stack">
  <button type="button" onclick="addNews()" class="nes-btn is-success">Push news on a stack</button>
  </div>

<footer>
  <a href="#" class="nes-badge" style="width:100px;">
    <span class="is-warning">papa.io 2022</span>
  </a>
</footer>
