<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="../static/sc.js"></script>

<title>papa.io</title>
<logo>papa.io</logo>
<slogan>First news paper based on blockchain technology.</slogan>
<menu></menu>
<div class="news_title">
<label for="textarea_field">News Title</label>
<textarea id="textarea_field_news_title" class="nes-textarea"></textarea>
</div>

<div class="news_area">
<label for="textarea_field">News Content</label>
<textarea id="textarea_field_news_content" class="nes-textarea"></textarea>
</div>

<div class="gaz">
<label for="textarea_field">gaz</label>
<textarea id="textarea_field_gas" class="nes-textarea"></textarea>
</div>

<div class="push_on_a_stack">
<button type="button" class="nes-btn is-success">Push news on a stack</button>
</div>

<footer>papa.io 2022</footer>
<!-- <div class="Rules">
<div class="nes-container is-dark with-title">
    <p class="title">Creator Rules</p>
    <p>Create your news.</p>
    <p>Get rewards from readers.</p>
</div>
</div>


  <div class="nes-container is-dark with-title">
    <p class="title">News</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac congue nisi. Suspendisse ultrices vestibulum tellus, eu cursus sapien placerat quis. Ut tincidunt metus quis vestibulum semper.
         Fusce enim lacus, accumsan quis tellus in, maximus ornare sapien. Maecenas finibus lobortis cursus. Mauris sapien magna, tempus at semper sed, iaculis sed metus. Vivamus dictum viverra massa ut porttitor.
          Morbi quis suscipit eros, vel suscipit tellus. Pellentesque a nisl at metus vulputate posuere ac vehicula ex. Integer vitae pretium justo, in malesuada justo. 
          Pellentesque dignissim orci velit, at consequat tellus pharetra ut. Praesent elementum convallis sapien non pretium. Pellentesque mauris nisl, imperdiet sit amet velit auctor, lacinia dapibus ante. 
          Morbi purus risus, pharetra quis nunc non, lobortis tempor erat. Cras tincidunt augue a velit viverra, eget consequat tellus fermentum.
    </p>
  </div>  -->