<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="../static/sc.js"></script>

<title>papa.io</title>
<logo>papa.io</logo>
<slogan>First news paper based on blockchain technology.</slogan>
<menu></menu>

<div class="rules">
  <div class="nes-container is-dark with-title">
      <p class="title">Creator Rules</p>
      <rules_data></rules_data>
  </div>
</div>
  
<div class = "news">
    <div class="nes-container is-dark with-title">
      <p class="title">News</p>
      <p>
        <news_fetched_from_bc></news_fetched_from_bc>
      </p>
    </div> 
  </div>

<footer>
  <a href="#" class="nes-badge" style="width:100px;">
    <span class="is-warning">papa.io 2022</span>
  </a>
</footer>
    
